<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon.png">
    <title>Live Chat Homepage | Vercel</title>
    <style>
        body {
            max-width: 600px;
            height: 100vh;
            margin: 0 auto;
        }
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1 class="text-2xl">Hello from server!</h1>
    
    <script src="/main.js"></script>
</body>
</html>